.banner {
  padding: 30px 15px 50px;
  position: relative;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  color: #fff;
}

.banner::before {
  content: '';
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner__header {
  margin-bottom: 20px;
}

.banner__header img {
  height: 40px;
  width: auto;
}

.banner__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__description {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.banner__form-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 18px 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 25px;
}

.banner__form__title {
  color: #1a1c1d;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner__form__seperator {
  width: 60px;
  height: 1px;
  margin: 0 auto 10px;
  background-color: #1a1c1d;
}

.banner__form__input {
  margin-bottom: 12px;
  position: relative;
}

.banner__form__input input,
.banner__form__input select {
  padding: 8px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 6px;
  background-color: #fff;
}

.banner__form__input input[type="checkbox"] {
  display: inline-block;
  width: unset;
  color: #d8d8d8;
  top: 5px;
  position: absolute;
}

.banner__form__autho-text {
  display: inline-block;
  color: #1a1c1d;
  font-size: 11px;
  padding-left: 24px;
}

.banner__form__submit-wrapper {
  text-align: center;
}

.banner__form__submit {
  margin: auto;
  font-size: 15px;
  color: #fff;
  padding: 12px 28px;
  background-color: #196ae5;
  border-radius: 6px;
}

.banner__form__error {
  display: none;
  font-size: 10px;
  color: red;
  padding: 5px;
}

.banner__form__error.active {
  display: block;
}

.banner__description__heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700px;
}

.banner__description__content {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-left: 1px solid #fff;
}

.banner__description__duration {
  font-weight: 700;
}

.banner__description__method {
  display: block;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .banner__header img {
    height: 64px;
  }
  .banner__content-wrapper {
    max-width: 996px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__description {
    width: 60%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .banner__form-wrapper {
    width: 32%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .banner__form__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .banner__form__seperater {
    margin-bottom: 20px;
  }
  .banner__form__input {
    margin-bottom: 20px;
    position: relative;
  }
  .banner__form__input input,
  .banner__form__input select {
    padding: 12px;
  }
  .banner__description__heading {
    font-size: 32px;
  }
  .banner__description__content {
    font-size: 20px;
    padding: 11px 16px;
  }
  .banner__description__duration {
    padding-right: 5px;
    font-size: 19px;
  }
  .banner__description__method {
    display: inline-block;
    padding-left: 5px;
    font-size: 19px;
    border-left: 2px solid #fff;
  }
}
/*# sourceMappingURL=banner.css.map */