//courses
.course {
    padding: 40px 15px;

    &__desc {
        font-size: 16px;
        margin-bottom: 25px;
        text-align: justify;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__list-wrapper {
        list-style: none;
    }

    &__list-item {
        padding-left: 35px;
        position: relative;
        font-size: 16px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: '';
            position: absolute;
            height: 20px;
            width: 50px;
            top: 5px;
            left: -10px;
            background-size: cover;
            background-position: center;
            background-image: url("https://static.thenounproject.com/png/674960-200.png");

        }
    }

    &__image-wrapper {
        margin: 0 auto 25px
    }

    &__image {
        height: 150px;
        width: auto;
    }

}
@media screen and (min-width: 1024px) {
    .course {
        max-width: 996px;
        margin-left: auto;
        margin-right: auto;

        &__desc {
        }

        &__content-wrapper {
            flex-direction: row;
            align-items: center;
        }

        &__image-wrapper {
            order: 2;
            img {
                height: 250px
            }
        }

        &__list-wrapper {
            order:1
        }

        &__list-item {

            &:last-child {
            }

            &::after {

            }
        }

        &__image-wrapper {
        }

        &__image {
        }

    }

}